/* reset các thẻ */
/* box-sizing: vừa bới box */
/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

/* header */
header {
    position: absolute;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem 0;
    /* top: 0;
   left: 0;
   right: 0; */
}


.header__content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.header__logo a {
    text-decoration: none;
    color: white;
}

/* 12px = 3rem  tự quy định font-size: 12px; */
.header__logo span {
    font-size: 3rem;
    color: white;
    font-weight: 600;
}

nav {
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    transform: all 1s;
    color: white;
}

/* style thẻ a active */

nav ul li.active a {
    color: red;
}


nav ul li:hover a {
    color: red;
}

/* Carousel */
.carousel {
    background: url("./../image-video/home_slider.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__content {
    text-align: center;
}

.carousel__content h4 {
    font-size: 2rem;
}

.carousel__content h1 {
    font-size: 4rem;
    margin: 10px 0;
}

.carousel__content button {
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s
}

.carousel__content button:hover {
    background-color: #af2239;
}

.arrow__down {
    margin-top: 2rem;
    animation:arrow__down 2s infinite ;
}

/* service */
.service {
    background-color: black;
    color: white;
    padding: 4rem 0;
    text-align: center;
}

.service__title h6 {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.service__title h1 {
    margin-top: 10px;
    font-size: 3rem;
    letter-spacing: 5px;
}

.service__title p {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

/* service item */
.service__content {
    width: 75%;
    margin: 0 auto;
}

.service__content .slider__item {
    width: 200px !important;
    height: 200px;
    background-color: white;
    color: gray;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.slick-dots li button::before {
    font-size: 1.5rem;
    color: white;
}

.slick-dots li.slick-active button:before {
    font-size: 1.5rem;
    color: red;
}

/* tạo element bằng css */
/* after nằm dưới
  before nằm trên */
.slider__content .slider__item::after {
    content: "";
    width: 5px;
    height: 0;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.slider__item:hover::after {
    height: 100%;
}

.showcase {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}

.showcase__title h1 {
    font-size: 4rem;
    margin: 12px;
}

.showcase__title h6 {
    color: #888888;
}

.showcase__title p {
    font-size: 1.5rem;
    color: #888888;
    font-weight: 400;
}


/* grid như tảo bảng có cột vs dòng */


.showcase__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* lặp 3 cột 1 fr */
    gap: 2rem;
    /* cách đều dòng cột */
    margin-top: 20px;

}

.showcase__item img {
    width: 100%;
    filter: grayscale(100%);
}

.showcase__item {
    position: relative;

}

.showcase__overlay {
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 2rem;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}

.showcase__item:hover .showcase__overlay {
    opacity: 1;
}


.showcase__icon {
    position: absolute;
    top: 25px;
    right: 25px;
    transform: translateY(20px);
    transition: all 0.5s;
}

.showcase__icon i {
    color: black;
    padding: 10px;
    background-color: white;
    transition: all 0.5s;
}

.showcase__icon i:hover {
    background-color: black;
    color: white;
}

.showcase__text {
    position: absolute;
    left: 25px;
    bottom: 25px;
    text-transform: uppercase;
    transform: translateY(20px);
    transition: all 0.5s;
}

.showcase__text p {
    color: #D0C7C8;
}

.showcase__item:hover .showcase__icon, .showcase__text {
    transform: translateY(0);
}

/* Blog */

.blog {
    text-align: center;
    padding: 100px 0;
    background-color: #F3F3F3;
    margin: 80px 0;
}


.blog__title h1 {
    font-size: 4rem;
    margin: 12px;
}

.blog__title h6 {
    color: #888888;
}

.blog__title p {
    font-size: 1.5rem;
    color: #888888;
    font-weight: 400;
}



.blog__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.blog__item img {
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.blog__item img:hover {
    filter: grayscale(30%) contrast(50%);
}

.blog__item_1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog__item_10 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

/* count */
.count {
    background-color: black;
    color: white;
}



.count__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
}

.count__content h3 {
    font-size: 60px;
    font-weight: 300;
}

.count__content p {
    font-size: 20px;
    color: #888888;
}

/* work */
.work {
    background-image: url(./../image-video/bussiness_img_1.jpg);
    background-attachment: fixed;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
  }
  
  .work__content {
    width: 75%;
    margin: 0 auto;
    color: white;
  }
  
  .work__title {
    text-align: center;
  }
  
  .work__item video {
    width: 100%;
  }

  .work__title h6 {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
  }

  .work__title h1 {
    font-size: 50px;
    font-weight: 400;
  }

  .work__title p {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin: 20px 0;
  }

  
  /* contact */
  .contact {
    padding: 5rem 0;
  }
  
  .contact__content {
    width: 75%;
    margin: 0 auto;
  }
  
  .contact__title {
    text-align: center;
  }
  
  .contact__title h1 {
    font-size: 5rem;
  }
  
  .contact__item {
    display: flex;
  }
  
  .contact__item-left {
    width: 60%;
  }
  
  .contact__item-right {
    width: 40%;
  }
  
  .contact__item-right form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  
  .contact__item-right form input {
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid;
    margin-bottom: 2rem;
  }
  
  .contact__item-right form button {
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding: 2rem 0;
    text-transform: uppercase;
    border: none;
  }

  .contact__title h1 {
    color: black;
    font-size: 50px;
    font-weight: 400;
  }

  .contact__title p {
    color: #888888;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0;
  }

  .demo {
      width: 200px;
      height: 200px;
      background-color: #af2239;
      position: relative;
      animation: demo-animation 2s;
      animation-iteration-count: infinite;

  }

  /* back to top */
  .backToTop i {
    background-color: gray;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 2rem;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 4px;
  }
  
  .backToTop {
    opacity: 0;
  }
  
  .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out {
    opacity: 0.5;
  }

  /* animation */
  @keyframes demo-animation{
    0%{
        left:0;
        top:0;
        background-color: #af2239;
    }
    25% {
        left:200px;
        top:0;
        background-color: blue;
    }
    50% {
        left:200px;
        top:200px;
        background-color: #888888;
    }
    100% {
        left: 0;
        top:200px;
        border-color: green;
    }
  }

  @keyframes arrow__down {
    from {
      opacity: 1;
      transform: translateY(0);
    }
  
    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
  

