/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

header {
  padding: 2rem 0;
  border-bottom: 1px solid #00000021;
  position: absolute;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.header__logo a {
  text-decoration: none;
  color: white;
}

.header__logo span {
  font-size: 3rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s;
  color: white;
}

nav ul li.active a {
  color: red;
}

nav ul li:hover a {
  color: red;
}

/* Carousel */
.carousel {
  background-image: url("./../images/home_slider.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.carousel__content {
  text-align: center;
}

.carousel__content h4 {
  font-size: 2rem;
}

.carousel__content h1 {
  font-size: 4rem;
}

.carousel__content button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 1.5rem 3em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel__content button:hover {
  background-color: #af2239;
}

.carousel__content .arrow__down {
  margin-top: 2rem;
}

/* Service */
.service {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5rem 0;
}

.service__title h6 {
  color: red;
}

.service__title h1 {
  font-size: 2.5rem;
}

.service__title p {
  color: gray;
}

.service__content {
  width: 75%;
  margin: 0 auto;
}

.service__content .slider__item {
  width: 200px !important;
  height: 200px;
  background-color: white;
  color: gray;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.slick-dots li button::before {
  font-size: 1.5rem;
  color: white;
}

.slick-dots li.slick-active button:before {
  font-size: 1.5rem;
  color: red;
}

/* tạo element bằng css */
/* after nằm dưới
before nằm trên */
.slider__content .slider__item::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}