* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

/* header */
.header__content {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 2rem;
}

.header__logo a {
    text-decoration: none;
}

.header .header__logo a h2 {
    color: hsl(15deg 85% 47%);
    font-size: 4rem;
    font-weight: 300;
}

.header .header__logo h6 {
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 10px;
}

/* header menu*/
.header__content nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    transform: all 1s;
    color: hsl(201deg 100% 69%);
}

nav ul li.active a {
    color: hsl(15deg 85% 47%);
}

/* carousel */
.carousel {
    background: url("./../images-layout1/banner2.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__content {
    position: absolute;
    right: 7.5rem;
    text-align: right;
    /* width: 40%; */
}


.carousel h1, .carousel p {
    font-size: 5rem;
    padding: 5px;
    text-align: left;
    background-color: hsl(200deg 4% 52% / 63%);
    color: hsl(0deg 0% 20%);
    font-weight: 300;
    letter-spacing: 6px;
}

.carousel .carousel__content p {
    font-size: 1rem;
    margin-top: 20px;
    padding: 0;
    display: inline-block;
    margin-right: 50px;
}

/* about */
.about {
    background-color: hsl(198deg 100% 58%);
}


.about__content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.about__content h2 {
    font-size: 2rem;
    padding: 5px;
    text-align: left;
    background-color: hsl(200deg 4% 52% / 63%);
    font-weight: 300;
    letter-spacing: 6px;
    display: inline-block;
}

.about__content p {
    font-size: 1.5rem;
    margin: 10px 0px;
    color: hsl(199deg 27% 82%);
}

/* intro */
.intro__content {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}

.intro__top {
    text-align: center;
}

.intro__top h2 {
    font-size: 4rem;
    margin: 25px;
    font-weight: 300;
}

.intro__top p {
    font-size: 1.5rem;
    margin: 5px;
    color: hsl(277deg 4% 62%);

}

.intro__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}

.intro__item {
    width: 50%;
}

.intro__item .intro__img img {
    width: 100%;
    height: 400px;
}

.intro__text {
    padding: 2rem 3.5rem;
    position: relative;
}

.intro__text h3 {
    font-size: 2rem;
    color: hsl(9deg 80% 64%);
}

.intro__text p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: hsl(277deg 4% 62%);
}

.intro__text i {
    position: absolute;
    top: 25px;
    left: 10px;
    color: hsl(198deg 100% 70%);
}



/* Succeed */
.succeed__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 4rem;
}

.succeed__title h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 300;
}

.succeed__list__img {
    display: flex;
    flex-wrap: wrap;
}

.succed__item {
    width: 33%;
}

.succed__item img {
    width: 100%;
}

.succeed__service {
    display: flex;
    justify-content: space-between;
}

.service__item h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.service__item ul {
    list-style: none;
    margin-bottom: 3rem;
    text-align: left;
}

.service__item ul li {
    margin: 10px 0px;
    font-size: 1.3rem;
    font-weight: 300;
}

.service__item ul li {
    color: hsl(270deg 1% 71%);
}

.service__item ul li i {
    margin-right: 10px;
    color: hsl(195deg 84% 54%);
}

.service__img {
    background-image: url("./../images-layout1/25.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    width: 40%;
    height: 380px;
    text-align: left;
    position: relative;
}

.service__list {
    background: rgb(4,4,13);
    background: linear-gradient(90deg, rgba(4,4,13,0.8550770650056898) 0%, rgba(3,3,11,0.7066176812521884) 100%, rgba(30,39,41,0.0959734235491071) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
}


.service__list h6, .service__list span {
    font-size: 2rem;
    font-weight: 300;
    margin: 20px 30px;
}

.service__list span {
    color: hsl(195deg 84% 54%);
    font-size: 2.5rem;
    font-weight: 700;
}


/* footer */
.footer {
    background-color: hsl(0deg 0% 14%);
}

.footer__content {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    padding: 2rem;
}

.footer__item {
    flex: 1 auto;

}

.footer__item:nth-child(3), .footer__item:first-child {
    flex: 3;
}

.footer__content h4 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer__item ul {
    list-style: none;
    padding: 0;
}

.footer__item ul li {
    margin-bottom: 10px;
}

.footer__item ul li a {
    text-decoration: none;
    color: hsl(171deg 6% 45%);
    font-size: 1.3rem;
}

.footer__item {
    padding: 20px 0;
}

.footer__item li a i {
    color: #fdc800;
    margin-right: 10px;
}

.footer__item p {
    color: hsl(171deg 6% 45%);
    font-size: 1.3rem;
    margin: 10px 0;
}

.footer__item input {
    padding: 8px;
    width: 200px;
}

.footer__item button {
    background-color: hsl(14deg 83% 53%);
    color: white;
    padding: 10px;
    border: none;
    margin-left: -8px;
}

.footer__item h2 {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    padding: 10px 0;
}

.footer__item h3 {
    color: hsl(171deg 6% 45%);
    font-size: 1.3rem;
    font-weight: 300;
}

.footer__item h3 span {
    color: hsl(14deg 83% 53%);
    font-size: 1.3rem;
}